$colorNegro: black; 
$colorCyan: rgb(3, 185, 206);
$colorBlanco: rgb(255, 255, 255);
$colorRosado: rgb(255, 77, 216);
$colorMorado: #ec5aff81;
$colorGris: rgba(182, 182, 182, 0.59);
$colorRoto: rgb(221, 222, 223);

$boton: (
    padding: 15px 50px,
    bordes:0,
    radio: 15px,
    color: rgb(255, 255, 255)
);

