@import "variables.scss";
.fondoprincipal {
    background-color: black;
}
.accordion-item {
    background-color: black;
}
.textoacordeon {
    font-family: 'kawaiistitch';
    color: rgb(3, 185, 206);
}
.panda {
    display: block;
    justify-content: center;
    background-color: black;
}